<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="baps-github" value="https://nuget.pkg.github.com/baps-apps/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<baps-github>
			<add key="Username" value="baps-na-apps-registry" />
			<add key="ClearTextPassword" value="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" />
		</baps-github>
	</packageSourceCredentials>
</configuration>